<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Campground</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbs5y5ndzkm5FVdTB0T3/uthVaWV+kTJtLpN5tSZ/an3QyI2tU6b6s62M5h11hvP"
      crossorigin="anonymous"
    />

    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1533873984035-25970ab07461?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-size: 1.5em;
      }

      .container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        max-width: 400px;
      }

      h2 {
        color: #343a40;
      }

      label {
        color: #495057;
      }

      input,
      textarea {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 8px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        resize: none;
      }

      button {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        font-size: 0.7em;
      }

      button:hover {
        background-color: #0076f5;
      }
      #btn1:hover {
        background-color: red !important;
      }
    </style>
  </head>

  <body>
    <div class="container mt-5 m-5">
      <h2 class="mb-4 text-center">Update Campground</h2>

      <!-- Campground Update Form -->
      <form
        action="/campgrounds/<%= campground._id %>?_method=PUT"
        method="post"
      >
        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="<%= campground.title %>"
            required
          />
        </div>

        <!-- Price -->
        <div class="mb-3">
          <label for="price" class="form-label">Price($)</label>
          <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            value="<%= campground.price %>"
            required
          />
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="5"
            required
          >
<%= campground.description %></textarea
          >
        </div>

        <!-- Location -->
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            class="form-control"
            id="location"
            name="location"
            value="<%= campground.location %>"
            required
          />
        </div>

        <!-- Submit Button -->
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">
            Update Campground
          </button>
        </div>
      </form>
      <form
        action="/campgrounds/<%= campground._id %>?_method=DELETE"
        method="post"
      >
        <button
          id="btn1"
          class="btn btn-danger"
          style="margin: 8px 0px 0px 0px; background-color: rgb(255, 61, 61)"
        >
          Delete Campground
        </button>
        <button
          id="btn2"
          class="btn btn-danger"
          style="margin: 8px 0px 0px 0px; background-color: rgb(24, 24, 24)"
        >
          <a href="/campgrounds" style="text-decoration: none; color: white"
            >Home</a
          >
        </button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-GLhlTQ8i1+ea1O8EBJxJ6ftQFz9qOO2K1Zl5n5txB4Z/JN6IjfuF04l5om5gI3j5"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
